<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.auth_system_ssm.mapper.MenuMapper">
    <select id="getAllMenu" resultType="Menu">
      SELECT
            *
        FROM
            `menu_table`
        ORDER BY
            sort DESC
    </select>

    <!--根据id查询-->
    <select id="queryMenuById" parameterType="String" resultType="Menu">
        SELECT * FROM `menu_table` where id = #{id}
    </select>

    <!--根据菜单code查询-->
    <select id="queryMenuByCode" parameterType="String" resultType="Menu">
        SELECT * FROM `menu_table` where menu_code = #{menuCode}
    </select>


    <!--根据id查询菜单的子菜单-->
    <select id="queryMenuChildrenById" parameterType="String" resultType="Menu">
        SELECT * FROM `menu_table` where pid = #{id}
    </select>

    <!--根据id删除菜单-->
    <delete id="deleteMenuById" parameterType="String">
        DELETE FROM `menu_table` WHERE id = #{id}
    </delete>

    <!--检测按钮是否有角色在引用的-->
    <select id="checkMenuForRoleById" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM `role_menu_table` WHERE menu_id = #{id}
    </select>

    <!--根据菜单id删除菜单按钮的中间表数据-->
    <delete id="deleteMenuButtonByMenuId" parameterType="String">
        DELETE FROM `menu_button_table` WHERE menu_id = #{menuId}
    </delete>

    <!--添加-->
    <insert id="addMenu" parameterType="Menu">
        INSERT INTO `menu_table`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="pid != '' || pid != null">
                pid,
            </if>
            menu_name,
            menu_code,
            menu_type,
            remark,
            `data`,
            menu_icon,
            menu_url,
            sort,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="pid != '' || pid != null">
                #{pid},
            </if>
            #{menuName},
            #{menuCode},
            #{menuType},
            #{remark},
            #{data},
            #{menuIcon},
            #{menuUrl},
            #{sort},
        </trim>
    </insert>

    <!--为菜单添加基本的按钮权限-->
    <insert id="addBasicButtonForMenuByMenuId" parameterType="String">
        INSERT INTO `menu_button_table`(id,button_id,menu_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.buttonId},#{item.menuId})
        </foreach>
    </insert>

    <!--根据菜单id更新菜单-->
    <update id="updateMenuById" parameterType="Menu">
        UPDATE `menu_table`
        <trim prefix="set" suffixOverrides=",">
            <if test="menuName != null">
                menu_name = #{menuName},
            </if>
            <if test="menuCode != null">
                menu_code = #{menuCode},
            </if>
            <if test="data != null">
                `data` = #{data},
            </if>
            <if test="menuIcon != null">
                menu_icon = #{menuIcon},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="menuUrl != null">
                menu_url = #{menuUrl},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <!--查询菜单下面挂载的按钮-->
    <select id="queryButtonByMenuId" parameterType="String" resultType="Button">
        SELECT
            b.id,
            b.button_name,
            b.button_code,
            b.remark,
            b.create_time,
            b.update_time
        FROM
            menu_button_table mb
            LEFT JOIN button_table b ON mb.button_id = b.id
        WHERE
            mb.menu_id = #{menuId}
    </select>

    <!--给菜单插入对应的权限-->
    <insert id="addButtonByMenuId">
        INSERT INTO `menu_button_table`(id,menu_id,button_id)
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.id},#{item.menuId},#{item.buttonId})
        </foreach>
    </insert>

    <!--查询所有的角色下的菜单-->
    <select id="getAllMenuByRoleIds" parameterType="List" resultType="Menu">
        SELECT
        m.id,
        m.menu_name,
        m.menu_code,
        m.create_time,
        m.update_time,
        m.`data`,
        m.pid,
        m.remark,
        m.menu_type,
        m.menu_icon,
        m.menu_url,
        m.sort
        FROM
        `role_menu_table` rm
        LEFT JOIN `menu_table` m ON rm.menu_id = m.id
        WHERE
        rm.role_id IN
        <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY m.sort DESC
    </select>
</mapper>