<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.auth_system.mapper.RoleMapper">
    <select id="queryAllRoles" resultType="Role">
      SELECT * FROM `role_table` ORDER BY create_time DESC
    </select>

    <!--根据code查询角色-->
    <select id="queryRoleByCode" resultType="Role" parameterType="String">
        SELECT  * FROM `role_table` WHERE role_code = #{roleCode}
    </select>

    <select id="queryRoleById" resultType="Role" parameterType="String">
        SELECT  * FROM `role_table` WHERE id = #{roleId}
    </select>

    <!--新增角色-->
    <insert id="insertRole" parameterType="Role">
        INSERT INTO `role_table`(id,role_name,role_code,remark)
         VALUES (#{id},#{roleName},#{roleCode},#{remark})
    </insert>

    <!--查询角色是否被 用户表 引用着-->
    <select id="queryUserRoleByRoleId" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM `user_role_table` WHERE role_id = #{roleId}
    </select>

    <!--查询角色是否被 菜单表 引用着-->
    <select id="queryRoleMenuByRoleId" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM `role_menu_table` WHERE role_id = #{roleId}
    </select>

    <!--删除角色-->
    <delete id="deleteRoleById" parameterType="String">
        DELETE FROM `role_table` WHERE id = #{roleId}
    </delete>

    <!--更新角色-->
    <update id="updateRole" parameterType="Role">
        UPDATE `role_table`
        SET role_name = #{roleName},role_code = #{roleCode},remark=#{remark}
        WHERE id = #{id}
    </update>

    <!--查询角色下挂载的菜单-->
    <select id="queryMenuByRoleId" parameterType="String" resultType="Menu">
        SELECT
            m.id,
            m.menu_code,
            m.menu_name,
            m.create_time,
            m.update_time,
            m.`data`,
            m.menu_type,
            m.pid,
            m.remark
        FROM
            `role_menu_table` rm
            LEFT JOIN `menu_table` m ON rm.menu_id = m.id
        WHERE
            role_id =  #{id}
    </select>

    <!--删除角色下的所有菜单-->
    <delete id="deleteMenuByRoleId" parameterType="String">
        DELETE FROM `role_menu_table` WHERE role_id = #{roleId}
    </delete>

    <!--插入角色下的所有菜单-->
    <insert id="addMenuByRoleId">
        INSERT INTO `role_menu_table`(id,menu_id,role_id)
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.id},#{item.menuId},#{item.roleId})
        </foreach>
    </insert>

</mapper>