<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.auth_system_springboot.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.github.tanyueran.auth_system_springboot.modal.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="link_man" jdbcType="VARCHAR" property="linkMan" />
    <result column="link_tel" jdbcType="VARCHAR" property="linkTel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>