<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.auth_system_springboot.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.github.tanyueran.auth_system_springboot.modal.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getRolesByUserId" parameterType="String" resultMap="BaseResultMap">
      SELECT
            r.id,
            r.role_name,
            r.role_code,
            r.remark,
            r.create_time,
            r.update_time
        FROM
            `role_table` r LEFT
            JOIN `user_role_table` ur ON r.id = ur.role_id
        WHERE
            ur.user_id = #{userId}
    </select>
</mapper>